@charset "UTF-8";


*{
	font-family: "メイリオ";
	padding : 0px ; 
	margin : 0px ; 
}

body{
	background: url(logo_back.png);
}

/* ページ全体 */
#site_box{
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	width : 1000px;
	
}

/* ヘッダー */
#header-box{
	width: 1000px;
	height: 80px;
	background-color: #F4511E;
}

h1{
	margin-top: 25px;
	margin-left: 70px;
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: #FFFDE7;
}

#logout_button{
	margin-top: 25px;
	margin-right: 20px;
	float: right;
	color: #FFFDE7;
	font-family: "メイリオ";
}

#help_button{
	margin-top: 25px;
	margin-right: 50px;
	float: right;
	color: #FFFDE7;
	font-family: "メイリオ";
}


/* 左メニュー */
#menu-box{
	float: left;
	width: 250px;
	height: 750px;
	background-color: #FFAB91;
}

#meeting_title{
	margin-top: 20px;
	text-align: center;
	font-size: 1.5em;
	color: #880E4F;
	font-family: "メイリオ";
	font-weight: bold;
}

#friend_title{
	margin-top: 20px;
	text-align: center;
	font-size: 1.5em;
	color: #880E4F;
	font-family: "メイリオ";
	font-weight: bold;
}

#button_friend {
	width: 200px;
	margin: 10px 25px 10px;
	color: #212121;
	background-color: #FFCC80;
	font-family: "メイリオ";
	font-weight: bold;
}

#button_friend:hover{
	background-color:#FB8C00;
}

#button_group {
	width: 200px;
	margin: 0px 25px 10px;
	color: #212121;
	background-color: #FFCC80;
	font-family: "メイリオ";
	font-weight: bold;
}

#button_group:hover{
	background-color:#FB8C00;
}

#friend_txt{
	margin-left:auto;
	margin-right:auto;
	width:200px;
}


#group_txt{
	margin-left:auto;
	margin-right:auto;
	width:200px;
}

/* メイン */
#main-box{
	float: right;
	width: 750px;
	height: 700px;
	background-color: #FFF9C4;
	text-align: center;
	padding-top: 50px;

}

/* プロフィール変更画面 */

#profile{
	margin-top: 50px;
	
}


#profile a{
	text-decoration: none;
	
}

#profile li{
	margin-left:0px;
	list-style-type: none;
}

/* 退会ページ */
#t-title h2{
	font-size:2.5em;
}

.top_img{
	margin-top: 100px;
}


/* tel */
#your_name{
	margin-top: 15px;
	font-size:2em;
}

#your_id{
	font-size:1em;
}

#button_call{
	background-color: #9ccc65;
}

#button_call:hover{
	background-color: #7cb342;
}

#button_video{
	background-color: #29b6f6;
	margin-left:20px;
}

#button_video:hover{
	background-color: #039be5;
}


#button_callend{
	background-color: #ffa726;
	margin-left:20px;
}

#button_callend:hover{
	background-color: #fb8c00;
}

#button_mic{
	background-color: #f48fb1;
	margin-left:20px;
}

#button_mic:hover{
	background-color: #ec407a;
}

#button_personadd{
	background-color: #fff59d;
	margin-left:20px;
}

#button_personadd:hover{
	background-color: #ffee58;
}

#button_file{
	background-color: #b0bec5;
	margin-left:20px;
}

#button_file:hover{
	background-color: #78909c;
}

#button_go{
	background-color: #b39ddb;
	font-family: "メイリオ";
}

#button_go:hover{
	background-color: #7e57c2;
}

#chat_log{
	margin: 20px;
	resize:none;
	overflow-y:scroll;
}

#chat_me{
	margin: 20px;
	resize:none;
}

/* フッター */
#footer-box{
	padding-top: 10px;
	clear: both;
	width: 1000px;
	height: 30px;
	background-color: #FFCC80;
	text-align: center;
}


